# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
build/
out/
release/
*.local

# Environment files
.env
.env.*

# Electron
electron-build/
electron-out/
*.asar
*.pdb

# Electron executables
*.exe
*.dll
*.msi
*.apk
*.dmg
*.pkg
*.deb
*.rpm
*.zip
*.tar.gz

# Cache
*.cache
.cache/
vite.cache/

# Editor configs
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Extra large unwanted files
*.7z
*.rar
*.iso
release/
win-unpacked/
*.exe
*.dll
*.asar

